## Emacs
.last-package-update-day
abbrev_defs
ac-comphist.dat
bookmarks
cider-history
*.elc
elpa/
history
malabar-mode/
projects/
semanticdb
srecode-map.el
smex-items
swank
url/
var/
places
recentf
.cache/
.lsp-session-v1
projectile-bookmarks.eld